<h1><%= @post.title %></h1>
<h3>Title:<%= @post.title %></h3>
<p><%= @post.content %></p>
<p>Blogger: <%= link_to @post.destination.name, @post.destination %></p>
<p>Destination: <%= link_to @post.blogger.name, @post.blogger %></p>

<p>Likes: <%= @post.likes %></p>
<%= button_to "LIKE", add_like_path(@post), method: :patch %>


<%= button_to "DELETE POST", @post, method: :delete %>


